package components

templ Footer() {
	<footer class="border-t border-[#5c6370] mt-20 py-8 text-center text-[#5c6370]">
		<p>&copy; 2025 Connal J. McInnis &amp; Keshav Italia. Built with Go &amp; Templ.</p>
	</footer>
}
